/**
 * 00 - Popover
 * 00 - Static map
 */

.modal-add-place #submit-place {
	display: none;
}

.modal-add-place .modal-header {
	background-color: #fc3975;
	color: #ffffff;
	padding: 0px;
	height: 95px;

	.close {
		display: none;
	}

	.modal-title {
		&:before {
			content: " ";
			position: relative;
			background-image: url(/images/avatar-place-default.png);
			display: inline-block;
			height: 60px;
			top: 7px;
			width: 80px;
			background-size: cover;
		}
	}
}

.modal-add-place .validation-message {
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 15px;
	text-align: center;
}

/**
 * 00 - Tags input
 */
.modal-add-place .bootstrap-tagsinput {
	height: 40px;
	border: 1px solid #DEDEDE;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-add-place .bootstrap-tagsinput input {
	padding: 5px 6px;
}

.modal-add-place .bootstrap-tagsinput.focus-input-tag {
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/**
 * Form
 */
.modal-add-place .address-form-group {
	display: inline-block;
}

.modal-add-place .address-form-group label {
	padding-right: 0px;
	padding-left: 0px;
}

.modal-add-place .address-form-group #street-number {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 15px;
}

.modal-add-place .address-form-group #street-name {
	padding-right: 0px;
	margin-bottom: 15px;
}

.modal-add-place .address-form-group #zipcode {
	padding-left: 0px;
	padding-right: 0px;
}

.modal-add-place .address-form-group #city {
	padding-right: 0px;
}

.modal-add-place .address-form-group #country {
	padding-right: 0px;
}

.modal-add-place .address-form-group .static-map-container {
	padding-left: 0px;
	padding-right: 0px;
}

/**
 * 00 - Static map
 */
.modal-add-place .static-map-container {
	text-align: center;
}

.modal-add-place .static-map-container .loader {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	left: -32px;
	top: 0px;
}

.modal-add-place .static-map-container .static-map {
	width: 100%;
}

/**
 * 00 - Popover
 */
.modal-add-place .glyphicon-question-sign{
	margin-top: 10px;
}

.modal-add-place .glyphicon-question-sign:hover {
	cursor: pointer;
}

.modal-add-place .popover {
	width: 200px;
}