/**
 * Based on Foundation. Doc: http://foundation.zurb.com/docs/components/grid.html
 * Index
 * 01 - Velocity UI
 * 02 - Form
 * 03 - Bootstrap tagsinput
 * 04 - Buttons
 * 05 - Modals
 * 06 - Profile page
 * 07 - Icons
 * 08 - Panels
 * 09 - Pins
 * 10 - Loader
 * 11 - Selectize
 */
body, html {
	height: 100%;
}

body {
	background-color: #fafafc;
	font-family: 'Montserrat', sans-serif;
	/*margin-bottom: 25px;*/
	padding-top: 77px;
}

.hide {
	display: none;
}

.modal {
	z-index: 2050;
}

/**
 * 01 - Velocity UI
 */
/*#velocity-status-widget {
	width: 70px;
	height: 70px;
}

#velocity-status-widget .velocity-icon-status {
	margin-left: -2px;
	width: 20px;
	height: 20px;
	border: 4px solid #8abcef;
}*/

/**
 * 02 - Form
 */
form small.error {
	display: none;
}

.form-control {
	height: 40px;
	border: 1px solid #dedede;
	border-radius: 3px;
}

/**
 * 03 - Bootstrap tagsinput
 */
.has-error .bootstrap-tagsinput {
	border-color: #a94442;
}

/**
 * 04 - Buttons
 */
.btn {
	border-radius: 3px;
	transition: box-shadow 0.3s ease;
	padding: 9px 25px;
}
.btn:hover {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}


.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
	color: #2c9ff2;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-success,
.btn-success:hover,
.btn-success:focus {
	color: #56db7e;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-info,
.btn-info:hover,
.btn-info:focus {
	color: #4cd6ff;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus {
	color: #fcb77e;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus {
	color: #fc7e7e;
	background-color: #FFFFFF;
	border: 1px solid #d1d1d1;
}

.btn-resource {
	display: inline-block;
	padding: 11px 25px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
	transition: box-shadow 0.3s ease;
}
.btn-resource:hover {
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}

.btn-place {
	color: #ffffff;
	background-color: #2ebdff;
	border: none;
}
.btn-place:hover {
	
}

/**
 * 05 - Modals
 */
.modal-content {
	border-radius: 0px;
	background-color: #fafafc;
}

.modal-header {
	height: 60px;
	font-style: 21px;
	text-align: center;
	padding: 20px;
}

.modal-body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 75px;
	padding-right: 75px;
}

.modal-footer {
	padding-top: 25px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 25px;
}

/**
 * 06 - Profile page
 */
.profile-page {
	padding-right: 0px;
	padding-left: 0px;
}

/* Header (cover and avatar) */
.profile-page > .row,
.profile-page header .row {
	margin-right: 0px;
	margin-left: 0px;
}

.profile-page header {
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
}

.profile-page #cover-avatar {
	height: 420px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.profile-page .profile-cover {
	height: 420px;
	background-color: #333333;
	width: 100%;
	box-shadow: 0px 0px 110px 21px rgba(0, 0, 0, 0.5) inset;
}

.profile-page .profile-cover-image {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-height: none;
	max-width: none;
}

.profile-page #profile-cover-bg {
	height: 420px;
}

.profile-page #profile-avatar-bg {
	height: 180px;
	width: 180px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.profile-page .upload-cover-btn {
	position: absolute;
	display: none;
	bottom: 10px;
	text-align: center;
	font-weight: bold;
	width: 250px;
	left: -125px;
	margin-left: 50%;
	margin-right: auto;
}

.profile-page .profile-cover:hover .upload-cover-btn {
	display: block;
}

#input-avatar {
	display: none;
}

.profile-page .profile-avatar .glyphicon {
	font-size: 41px;
	top: 55px;
	z-index: 10;
}

.profile-page .profile-avatar .edit-cover-icon {
	display: none;
}

.profile-page #upload-avatar-btn:hover .edit-cover-icon {
	display: inline-block;
}

/* Resource infos */
.profile-page #resource-infos h1 {
	color: #1c1c1c;
	margin-top: 0px;
	margin-bottom: 5px;
}

.popover {
	z-index: 40;
}

.profile-page #resource-infos-identity .popover {
	width: 320px;
	max-width: 320px;
	top: 0px !important;
}

.profile-page .popover .arrow {
 	display: none;
 }

.profile-page #resource-infos .popover.right > .arrow {
	top: 8% !important;
}	

.profile-page #resource-infos #identity,
.profile-page #resource-infos #identity-edit {
	display: inline-block;
}

.profile-page #resource-infos #identity-edit:hover {
	cursor: pointer;
}

.profile-page #resource-infos #identity-edit:hover .glyphicon-pencil {
	display: inline-block;
}

.profile-page #resource-infos #identity-edit .glyphicon-pencil {
	display: none;
	font-size: 16px;
}

.profile-page #resource-infos #user-name {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

.profile-page #resource-infos #user-activity {
	font-size: 19px;
}

.profile-page #resource-infos #user-area {
	position: relative;
	font-size: 14px;
	color: #ABABAB;
	right: -40px;
}

/* Social profiles */
.profile-page #resource-infos-social-profiles {
	padding-top: 15px;
}

.profile-page #resource-infos-social-profiles .popover {
	width: 320px;
	max-width: 320px;
	top: 0px !important;
}

.profile-page #resource-infos-social-profiles:hover #edit-social-profiles {
	display: block;
}


/* Inner navigation */
.profile-page #inner-nav .nav-pills {
	background-color: #FFFFFF;
	box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 47px;
}

.profile-page #inner-nav .nav-pills > li > a {
	color: #1c1c1c;
	border-radius: 0px;
	padding: 15px 15px 10px 15px;
	font-size: 15px;
	font-weight: bold;
}

.profile-page #inner-nav .nav-pills > li > a:hover {
	background-color: transparent;
	border-bottom: 2px solid #010101;
}

.profile-page #inner-nav .nav-pills > li.active > a {
	background-color: transparent;
	color: #1c1c1c;
	border-bottom: 2px solid #010101;
}

/**
 * 07 - Icons
 */
.icon {

}

/* Dot icons */
.icon-user-dot {
	position: relative;
	top: 6px;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #20DEC2;
	border: 3px solid #1ABDA4;
	border-radius: 20px;
}

.icon-place-dot {
	position: relative;
	top: 5px;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: #fc3975;
	border: 3px solid #de3366;
	border-radius: 20px;
}

/* Social icons */
.social-icon-25 {
	display: inline-block;
	height: 25px;
	width: 25px;
	background-image: url(/images/social-icons-sprite-25x25.png);
}

.social-icon-25-facebook {
	background-position: -50px 0px;

}

.social-icon-25-website {
	background-position: 50px 0px;
}

.social-icon-25-twitter {
	background-position: 75px 0px;
}

.social-icon-25-flickr {
	background-position: 175px 0px;
}

/* Resource icons */
.resource-icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 30px;
	position: relative;
	top: 2px;
	margin-left: 5px;
}

.resource-icon.round-place {
	background-color: #fc3975;
	border: 2px solid #de3366;
}

.resource-icon.round-skill {
	background-color: #20dec2;
	border: 2px solid #1abda4;
}

/**
 * 08 - Panels
 */
.panel-user {
	margin-top: 60px;
	max-width: 355px;
	margin-left: auto;
	margin-right: auto;
}

.panel-user .panel-heading h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 21px;
	font-weight: normal;
}

.panel-user .panel-heading {
	color: #ffffff;
	background-color: #28baa3;
	height: 60px;
	text-align: center;
	padding: 20px;
}

/**
 * 09 - Pins
 */
.pin {
	width: 30px;
	height: 45px;
	display: block;
	background-image: url(/images/map-pins-sprite.png);
}

.pin.place-pin {
	background-position: 0px 0px;
}

.pin.pin-place-hover {
	background-position: 0px -47px;
}

/**
 * 10 - Loader
 */
.loader {
	height: 60px;
	width: 60px;
	right: 0;
	left: 0;
	z-index: 10;
	margin-right: 40px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.loader .double-bounce1, .double-bounce2{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #FFF;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.loader .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0)
	}
}

/**
 * 11 - Selectize
 */
.selectize-input {
	min-height: 40px;
}

.selectize-load:before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 50%;
	right: 34px;
	width: 16px;
	height: 16px;
	margin: -10px 0 0 0;
	background: url(/images/spinner.gif);
	background-size: 16px 16px;
	opacity: 0.4;
}

.selectize-input input,
.selectize-input .item {
	min-height: 26px !important;
}

.selectize-input .item {
	vertical-align: middle;
	line-height: 28px;
}