/**
 * 01 - User infos
 * 02 - Social profiles
 */

/**
 * 01 - User infos
 */
#user-profile-page #user-infos h1 {
	color: #1c1c1c;
	margin-top: 0px;
	margin-bottom: 5px;
}

#user-profile-page #user-infos-identity .popover {
	width: 320px;
	max-width: 320px;
	top: 0px !important;
}

#user-profile-page #user-infos .popover.right > .arrow {
	top: 8% !important;
}	

#user-profile-page #user-infos #identity,
#user-profile-page #user-infos #identity-edit {
	display: inline-block;
}

#user-profile-page #user-infos #identity-edit:hover {
	cursor: pointer;
}

#user-profile-page #user-infos #identity-edit:hover .glyphicon-pencil {
	display: inline-block;
}

#user-profile-page #user-infos #identity-edit .glyphicon-pencil {
	display: none;
	font-size: 16px;
}

#user-profile-page #user-infos #user-name {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

#user-profile-page #user-infos #user-activity {
	font-size: 19px;
}

#user-profile-page #user-infos #user-area {
	position: relative;
	font-size: 16px;
	color: #7d7d7d;
	right: -40px;
}

/**
 * 02 - Social profiles
 */
#user-profile-page #user-infos-social-profiles {
	padding-top: 15px;
}

#user-profile-page #user-infos-social-profiles .popover {
	width: 320px;
	max-width: 320px;
	top: 0px !important;
}

#user-infos-social-profiles:hover #edit-social-profiles {
	display: block;
}

#social-profiles {
	position: relative;
	float: right;
}

#social-profiles #edit-social-profiles {
	display: none;
	color: #1ABDA4;
	text-decoration: underline;
}

#social-profiles #add-social-profiles {
	padding: 10px;
	border: 1px dashed #C9C9C9;
}

#social-profiles #add-social-profiles:hover {
	cursor: pointer;
	border: 1px dashed #20DEC2;
	color: #20DEC2;
}