/**
 * 01 - 
 */

/**
 * 01 - 
 */
#user-profile-page {
	padding-right: 0px;
	padding-left: 0px;
}

#user-profile-page > .row,
#user-profile-page header .row {
	margin-right: 0px;
	margin-left: 0px;
}

#user-profile-page header {
	padding-right: 0px;
	padding-left: 0px;
}

#user-profile-page #cover-avatar {
	height: 420px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

#user-profile-page .profile-cover {
	height: 420px;
	background-color: #333333;
	width: 100%;
	box-shadow: 0px 0px 110px 21px rgba(0, 0, 0, 0.5) inset;
}

#user-profile-page .profile-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#user-profile-page .upload-cover-btn {
	position: absolute;
	display: none;
	bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	width: 250px;
	left: -125px;
	margin-left: 50%;
	margin-right: auto;
}

#user-profile-page .profile-cover:hover .upload-cover-btn {
	display: block;
}

#user-profile-page .profile-avatar {
	width: 160px;
	height: 160px;
	background-color: #eeeeee;
	position: absolute;
	top: 120px;
	margin-left: 50%;
	left: -80px;
	border-radius: 80px;
}