<template name="UserProfileLayout">
	<div class="container-fluid" id="user-profile-page">
		<header>
			<section> <!-- Cover and avatar -->
				<div class="profile-cover">
					<div class="profile-cover-bg">
						<!-- {
						  position: absolute;
						  top: 0;
						  left: 0;
						  right: 0;
						  bottom: 0;
						  overflow: hidden;
						} -->
						<img class="profile-cover-image" src="#" alt="Cover">
					</div>
				</div>
				<div class="profile-avatar">
					<img class="profile-avatar-image" src="#" alt="Avatar">
				</div>
			</section>
			<nav>
				<ul>
					<li><a href="/user/2/bio">Bio</a></li>
					<li><a href="/user/2/skills">Skills</a></li>
				</ul>
			</nav>
		</header>

		{{> yield "content"}}
	</div>
</template>