<template name="UserProfileLayout">
	<div class="container-fluid" id="user-profile-page">
		<div class="row">
			<header class="col-md-12">
				<section id="cover-avatar">
					<div class="profile-cover">
						{{#if profile.cover}}
						<div class="focuspoint" id="profile-cover-bg"
						data-focus-x="{{profile.cover.focusX}}"
						data-focus-y="{{profile.cover.focusY}}"
						data-image-w="{{profile.cover.w}}"
						data-image-h="{{profile.cover.h}}">
							<img class="profile-cover-image" src="{{profile.cover.url}}" alt="Cover">
						</div>
						{{else}}
						
						{{/if}}

						{{#if eq currentUser._id _id}}
						<button class="upload-cover-btn btn btn-primary" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">Upload a cover picture</button>
						{{/if}}
					</div>

					{{#if eq currentUser._id _id}}
						{{#if profile.avatar}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<div class="focuspoint" id="profile-avatar-bg"
									data-focus-x="{{profile.avatar.focusX}}"
									data-focus-y="{{profile.avatar.focusY}}"
									data-image-w="{{profile.avatar.w}}"
									data-image-h="{{profile.avatar.h}}">
										<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
										<img class="profile-avatar-image" src="{{profile.avatar.url}}" alt="Avatar">
								</div>
							</div>
						</a>
						{{else}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							</div>
						</a>
						{{/if}}
					{{else}}
						{{#if profile.avatar}}
						<div class="profile-avatar">
							<div class="focuspoint" id="profile-avatar-bg"
								data-focus-x="{{profile.avatar.focusX}}"
								data-focus-y="{{profile.avatar.focusY}}"
								data-image-w="{{profile.avatar.w}}"
								data-image-h="{{profile.avatar.h}}">
									<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
									<img class="profile-avatar-image" src="{{profile.avatar.url}}" alt="Avatar">
							</div>
						</div>
						{{else}}
						<div class="profile-avatar">
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						</div>
						{{/if}}
					{{/if}}
				</section>
			</header>
		</div>

		<section class="row" id="user-infos">
			<div class="col-md-8 col-sm-offset-2">
				<div class="row">
					<div class="col-sd-12 col-md-6">
						<h1 class="user-name">{{profile.firstname}} {{profile.lastname}}</h1>
						{{#if profile.activity}}
						<span class="user-activity">- {{profile.activity}}</span>
						{{/if}}
						{{#if profile.zipcode}}
						<span class="user-area">{{profile.zipcode}}</span>
						{{/if}}
					</div>
					<div class="col-sd-12 col-md-6">
					</div>
				</div>
			</div>
		</section>

		<nav class="row" id="inner-nav">
			<div class="col-md-8 col-sm-offset-2">
				<ul class="nav nav-pills">
					<li role="presentation" class="active">
						<a href="{{pathFor route='userProfileBio' _id=_id}}">Bio</a>
					</li>
					<li>
						<a href="{{pathFor route='userProfileSkills' _id=_id}}">Skills</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-md-8 col-sm-offset-2">
				{{> yield "content"}}
			</div>
		</div>
	</div>
</template>