<template name="userProfileIdentityEdition">
	<form id='identity-form'>
		<div class='row'>
			<div class='col-md-6'>
				<div class="form-group {{errorClass 'firstname'}}">
					<label for='edit-first-name'>First name</label>
					<input class='form-control' type='text' id='edit-first-name' name='edit-first-name' value='{{user.profile.firstname}}' />
					<span class='help-block'>{{errorMessage 'firstname'}}</span>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='form-group {{errorClass 'lastname'}}'>
					<label for='edit-last-name'>Last name</label>
					<input class='form-control' type='text' id='edit-last-name' name='edit-last-name' value='{{user.profile.lastname}}' />
					<span class='help-block'>{{errorMessage 'lastname'}}</span>
				</div>
			</div>
		</div>
		<div class='form-group {{errorClass "activity"}}'>
			<label for='edit-activity'>Your main activity</label>
			<input class='form-control' type='text' id='edit-activity' value='{{user.profile.activity}}'>
			<span class='help-block'>{{errorMessage 'activity'}}</span>
		</div>
		<div class='form-group {{errorClass "country"}}'>
			<label for='input-country'>Country</label>
			<select class='form-control' id='edit-select-country'>
				<option value='{{user.profile.address.countryCode}}' selected='selected'>{{user.profile.address.countryCode}}</option>
				<option value='FR'>France</option>
				<option value='SW'>Suisse</option>
			</select>
			<span class='help-block'>{{errorMessage 'country'}}</span>
		</div>
		<div class='form-group {{errorClass "zipcode"}}'>
			<label for='edit-zipcode'>Zip code</label>
			<input class='form-control' type='text' name='zipcode' id='edit-zipcode' value='{{user.profile.address.zipcode}}'>
			<span class='help-block'>{{errorMessage 'zipcode'}}</span>
		</div>
		<div class="form-group {{errorClass 'city'}}">
			<label for="select-city">City</label>
			{{#if localities}}
			<select class="form-control" id="edit-select-city">
				{{#each localities}}
				<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
			{{else}}
			<select class="form-control" id="edit-select-city">
				<option value="{{user.profile.address.city}}">{{user.profile.address.city}}</option>
			</select>
			{{/if}}
		</div>
		<button type='button' class='btn btn-default' id='close-identity-edit-popover'>Cancel</button>
		<button type='submit' class='btn btn-primary' id='save-identity-btn'>Save</button>
	</form>
</template>

<template name="userUpdateSocialProfiles">
	<form id='social-profiles-form'>
		<div class='form-group {{errorClass "facebook"}}'>
			<label for='edit-activity'>Facebook</label>
			<input class='form-control' type='url' id='edit-facebook' value='{{user.profile.links.facebook}}'>
			<span class='help-block'>{{errorMessage 'facebook'}}</span>
		</div>
		<div class='form-group {{errorClass "flickr"}}'>
			<label for='edit-activity'>Flickr</label>
			<input class='form-control' type='url' id='edit-flickr' value='{{user.profile.links.flickr}}'>
			<span class='help-block'>{{errorMessage 'flickr'}}</span>
		</div>
		<div class='form-group {{errorClass "twitter"}}'>
			<label for='edit-activity'>Twitter</label>
			<input class='form-control' type='url' id='edit-twitter' value='{{user.profile.links.twitter}}'>
			<span class='help-block'>{{errorMessage 'twitter'}}</span>
		</div>
		<div class='form-group {{errorClass "website"}}'>
			<label for='edit-activity'>Personal website</label>
			<input class='form-control' type='url' id='edit-website' value='{{user.profile.links.website}}'>
			<span class='help-block'>{{errorMessage 'website'}}</span>
		</div>
		<button type='button' class='btn btn-default' id='close-social-profiles-popover'>Cancel</button>
		<button type='submit' class='btn btn-primary' id='save-identity-btn'>Save</button>
	</form>
</template>

<template name="UserProfileLayout">
	<div class="container-fluid profile-page" id="user-profile-page">
		<div class="row">
			<header class="col-md-12">
				<section id="cover-avatar">
					{{#if user.profile.cover}}
					<div class="profile-cover" style="background-image: url({{user.profile.cover.url}})">
						{{#if eq currentUser._id user._id}}
						<button class="upload-cover-btn btn btn-primary" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">Upload a cover picture</button>
						{{/if}}
						<section class="row" id="social-bar">
							<div class="col-md-12">
								<div class="col-md-8 col-sm-offset-2">
									<div class="pull-right">
										<!-- If this isn't the current user profile page -->
										{{#if eq currentUser._id user._id}}{{else}}
											<!-- If the current user already follow this profile -->
											{{#if inArray user._id currentUser.profile.network.users.followed}}
											<button type="button" class="btn btn-info btn-social-unfollow user-actions-unfollow-button">Connected</button>
											{{else}}
											<button type="button" class="btn btn-primary btn-social-follow user-actions-follow-button">Connect</button>
											{{/if}}
										{{/if}}
									</div>
								</div>
							</div>
						</section>
					</div>
					{{else}}
					<div class="profile-cover no-cover">
						<section class="row" id="social-bar">
							<div class="col-md-12">
								<div class="col-md-8 col-sm-offset-2">
									<div class="pull-right">
										{{#if eq currentUser._id user._id}}{{else}}
										<button type="button" class="btn btn-primary btn-social-connect user-actions-connect-button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Connect</button>
										{{/if}}
									</div>
								</div>
							</div>
						</section>
					</div>
					{{/if}}

					{{#if eq currentUser._id user._id}}
						{{#if user.profile.avatar}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<div id="profile-avatar-bg">
									<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
									<img class="profile-avatar-image" src="{{user.profile.avatar.url}}" alt="Avatar">
								</div>
							</div>
						</a>
						{{else}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar no-avatar">
								<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							</div>
						</a>
						{{/if}}
					{{else}}
						{{#if user.profile.avatar}}
						<div class="profile-avatar">
							<div class="focuspoint" id="profile-avatar-bg">
								<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
								<img class="profile-avatar-image" src="{{user.profile.avatar.url}}" alt="Avatar">
							</div>
						</div>
						{{else}}
						<div class="profile-avatar no-avatar">
						</div>
						{{/if}}
					{{/if}}
				</section>
			</header>
		</div>

		<section class="row" id="resource-infos">
			<div class="col-md-8 col-sm-offset-2">
				<div class="row">

					<div id="resource-infos-identity" class="col-sd-12 col-md-6">
						{{#if eq currentUser._id user._id}}
						<div id="identity-edit" role="button">
							<div id="identity">
								<h1>
									<span class="icon icon-user-dot"></span>
									<span id="user-name">{{user.profile.firstname}} {{user.profile.lastname}}</span>
									{{#if user.profile.activity}}
									<span id="user-activity">- {{user.profile.activity}}</span>
									{{/if}}
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</h1>
								
								{{#if user.profile.address.city}}
								<span id="user-area">{{user.profile.address.city}}</span>
								{{/if}}
							</div>
						</div>
						{{else}}
						<div id="identity">
							<h1>
								<span class="icon icon-user-dot"></span>
								<span id="user-name">{{user.profile.firstname}} {{user.profile.lastname}}</span>
								{{#if user.profile.activity}}
								<span id="user-activity">- {{user.profile.activity}}</span>
								{{/if}}
							</h1>
							
							{{#if user.profile.address.city}}
							<span id="user-area">{{user.profile.address.city}}</span>
							{{/if}}
						</div>
						{{/if}}
					</div>

					<div id="resource-infos-social-profiles" class="col-sd-12 col-md-6">
						<div id="social-profiles">
						
						{{#if hasSocialLink user.profile.links}}
							{{#if user.profile.links.facebook}}
							<a href="{{user.profile.links.facebook}}" target="_blank"><span class="social-icon-25 social-icon-25-facebook"></span></a>
							{{/if}}
							{{#if user.profile.links.twitter}}
							<a href="{{user.profile.links.twitter}}" target="_blank"><span class="social-icon-25 social-icon-25-twitter"></span></a>
							{{/if}}
							{{#if user.profile.links.flickr}}
							<a href="{{user.profile.links.flickr}}" target="_blank"><span class="social-icon-25 social-icon-25-flickr"></span></a>
							{{/if}}
							{{#if user.profile.links.website}}
							<a href="{{user.profile.links.website}}" target="_blank"><span class="social-icon-25 social-icon-25-website"></span></a>
							{{/if}}

							{{#if eq currentUser._id user._id}}
							<a href="#" id="edit-social-profiles">Edit</a>
							{{/if}}
						{{else}}
							{{#if eq currentUser._id user._id}}
							<div id="add-social-profiles">
								Add your social profiles
							</div>
							{{/if}}
						{{/if}}
						
						</div>
					</div>

				</div>
			</div>
		</section>

		<nav class="row" id="inner-nav">
			<div class="col-md-8 col-sm-offset-2">
				<ul class="nav nav-pills">
					<li role="presentation" class="active">
						<a href="{{pathFor route='userProfileBio' _id=user._id}}">Bio</a>
					</li>
					<li>
						<a href="{{pathFor route='userProfileSkills' _id=user._id}}">Skills</a>
					</li>
					<li>
						<a href="{{pathFor route='userProfilePlaces' _id=user._id}}">Places</a>
					</li>
					<li>
						<a href="{{pathFor route='userProfileNetwork' _id=user._id}}">Network</a>
					</li>
				</ul>
			</div>
		</nav> 

		<div class="row">
			<div class="col-md-8 col-sm-offset-2">
				{{> yield "content"}}
			</div>
		</div>
	</div>
	{{> footer}}
</template>