/**
 * 01 - User infos
 */

/**
 * 01 - User infos
 */
#user-profile-page #user-infos h1 {
	color: #1c1c1c;
	margin-top: 0px;
	margin-bottom: 5px;
}

#user-profile-page #user-infos .popover {
	width: 320px;
	max-width: 320px;
}

#user-profile-page #user-infos .popover {
	top: 0px;
}

#user-profile-page #user-infos .popover.right > .arrow {
	top: 8%;
}	

#user-profile-page #user-infos #identity,
#user-profile-page #user-infos #identity-edit {
	display: inline-block;
}

#user-profile-page #user-infos #identity-edit:hover {
	cursor: pointer;
}

#user-profile-page #user-infos #identity-edit:hover .glyphicon-pencil {
	display: inline-block;
}

#user-profile-page #user-infos #identity-edit .glyphicon-pencil {
	display: none;
	font-size: 16px;
}

#user-profile-page #user-infos #user-name {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

#user-profile-page #user-infos #user-activity {
	font-size: 19px;
}

#user-profile-page #user-infos #user-area {
	position: relative;
	font-size: 16px;
	color: #7d7d7d;
	right: -40px;
}