/**
 * 01 - Search parameters
 * 02 - Search results
 * 03 - Map
 * 04 - 
 */

#search-page {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#search-page > .row {
	height: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

#search-page .no-search#search-container {
}

#search-page #search-container {
	position: absolute;
	z-index: 1;
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;
	top: 0px;
	padding-top: 77px;
	z-index: 2;
}

#search-page .no-search#search-container #search-parameters {
	height: 100%;
}

/**
 * 01 - Search parameters
 */
#search-page #search-parameters {
	background-color: #f2f3ec;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 1px solid #d9d9d9;
	height: 100%;
	float: left;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
	width: 250px;
	padding-top: 60px;
}

#search-page #search-parameters .search-icon {
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#search-page #search-parameters .form-group {
	margin-bottom: 10px;
}

#search-page #search-parameters form {
	margin-top: 35px;
	margin-right: 0px;
	margin-left: 0px;
}

#search-page #search-parameters #search-form input {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#search-page #search-parameters #search-form .user-action-search {
	width: 10px;
	background-color: #FFF;
	border: 1px solid #D1D1D1;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 30px;
	padding-left: 12px;
	padding-right: 26px;
	padding-top: 9px;
	position: relative;
	margin-top: 20px;
}


#search-page #search-parameters #search-form input[type="text"] {
	border-radius: 5px;
}

#search-page #search-parameters #search-form .autocomplete-suggestions {
	margin-left: 35px;
}

#search-page #search-parameters #input-what-container {
	position: relative;
}

#search-page #search-parameters ul {
	-webkit-padding-start: 0px;
}

#search-page #search-parameters ul li {
	list-style: none;
	float: left;
}

#search-page #search-parameters .alert-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

#search-page #search-parameters .selectize-input input {
	width: 100%;
}

/* Search results */
#search-page #search-parameters ul.suggestions-container {
	-webkit-padding-start: 0px;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.2);
	border: 1px solid #dedede;
	background: #FFFFFF;
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 10;
	margin-top: 2px;
	border-radius: 4px;
}

#search-page #search-parameters ul.suggestions-container li {
	padding: 0.4em 0.6em;
	font-size: 14px;
	border-bottom: 1px solid #E6E6E6;
	width: 100%;
}

#search-page #search-parameters .search-location-result:hover {
	cursor: pointer;
	background-color: #F9F9F9;
}

/* Radio buttons */
#search-page #search-parameters input[type="radio"]:not(:checked),
#search-page #search-parameters input[type="radio"]:checked {
	position: absolute;
	left: -9999px;
}

#search-page #search-parameters input[type="radio"]:not(:checked) + label,  
#search-page #search-parameters input[type="radio"]:checked + label {  
	position: relative; /* permet de positionner les pseudo-éléments */
	padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
	cursor: pointer;    /* affiche un curseur adapté */
	padding-left: 35px;
	padding-top: 2px;
	color: #ffffff;
}

#search-page #search-parameters input[type="radio"]:not(:checked) + label:before,  
#search-page #search-parameters input[type="radio"]:checked + label:before {  
	content: '';
	position: absolute;
	left:0; top: 0px;
	width: 24px; height: 24px; /* dim. de la case */
	border: 2px solid #ffffff;
	color: #333845;
	background: transparent;
	border-radius: 60px; /* angles arrondis */
}

#search-page #search-parameters input[type="radio"]:not(:checked) + label:after, /* Aspect général de la coche */  
#search-page #search-parameters input[type="radio"]:checked + label:after {  
	content: '';
	position: absolute;
	top: 7px;
	left: 7px;
	width: 10px;
	border-radius: 12px;
	height: 10px;
	transition: all .2s;
	background-color: #ffffff;
}

#search-page #search-parameters input[type="radio"]:checked + label:after { /* Aspect si "cochée" */  
	opacity: 1; /* coche opaque */
	transform: scale(1); /* mise à l'échelle 1:1 */
}  

#search-page #search-parameters input[type="radio"]:not(:checked) + label:after { /* Aspect si "pas cochée" */  
	opacity: 0; /* coche invisible */
	transform: scale(0); /* mise à l'échelle à 0 */
}

/**
 * 02 - Search results
 */
#search-page #search-results {
	
}

#search-page #search-results .loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 20px;
}

/* #search-page #search-results .result {
	display: inline-block;
	border-radius: 3px;
	background-color: #ffffff;
	width: 100%;
	margin-bottom: 15px;
}

#search-page #search-results .result header {
	position: relative;
	height: 140px;
	overflow: hidden;
	margin-bottom: 0px;
}

#search-page #search-results .result header .avatar {
	position: absolute;
	display: block;
	width: 140px;
	height: 140px;
	background-color: #ffffff;
	float: left;
	z-index: 1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
} */

#search-page #search-results .result header .cover {
	position: absolute;
	display: block;
	width: 100%;
	height: 140px;
	background-color: #333333;
	box-shadow: 0px 0px 110px 21px rgba(0, 0, 0, 0.5) inset;
	overflow: hidden;
}

#search-page #search-results .result header .cover a {
	background-size: cover;
	display: block;
	height: 100%;
	margin-left: 140px;
}

/* #search-page #search-results .result section {
	color: #1c1c1c;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	position: relative;
}
 
#search-page #search-results .result section h1 {
	margin-bottom: 0px;
	margin-top: 7px;
	font-size: 19px;
	text-transform: uppercase;
}*/

#search-page #search-results .result section h1 a {
	color: #1c1c1c;
	text-decoration: none;
}

/* #search-page #search-results .result section h2 {
	margin-top: 3px;
	font-size: 14px;
	color: #B0B0B0;
} */

/**
 * 03 - Map
 */
#search-page #map-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	z-index: 1;
}

#search-page #map.mapbox {
	width: auto;
	height: 100%;
}