<template name="UserForgotPassword">
	<div class="row">
		<div class="large-4 large-offset-4 columns">
			{{#if resetPassword}}
			<form id="reset-password-form" action="action">
				<div class="row">
					<div class="large-12 columns">
						<label>New password
							<input type="password" id="new-password" name="new-password" />
						</label>
						<small class="error">Invalid entry</small>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Confirm your password
							<input type="password" id="new-password-confirm" name="new-password-confirm" />
						</label>
						<small class="error">Invalid entry</small>
					</div>
				</div>
			</form>
			{{else}}
			<form id="forgot-password-form" action="action">
				<div class="row">
					<div class="large-12 columns">
						<label>Email
							<input type="email" id="forgot-password-email" name="forgot-password-email" />
						</label>
						<small class="error">Invalid entry</small>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="submit" id="forgot-password-submit-button" class="button" value="Submit" />
					</div>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</template>