<template name="userProfilePlaces">
	<section class="user-profile-places">
		{{#each places}}
			<div class="col-md-4">
				<div class="place">
					<header>
						{{#if activated}}						
						{{else}}
							<div class="validation-in-progess">Validation in progess</div>
						{{/if}}
						<div class="focuspoint avatar"
						data-focus-x="{{avatar.focusX}}"
						data-focus-y="{{avatar.focusY}}"
						data-image-w="{{avatar.w}}"
						data-image-h="{{avatar.h}}">
							{{#if avatar}}
							<img src="{{avatar.url}}">
							{{/if}}
						</div>
						{{#if cover}}
						<div class="cover" style="background-image: url({{cover.url}})"></div>
						{{else}}
						<div class="cover"></div>
						{{/if}}
					</header>
					
					<section>
						<h1><a href="{{pathFor route='placeProfileAbout' _id=_id}}">{{name}}</a></h1>
						<h2>{{split activities}}</h2>
					</section>
				</div>
			</div>
		{{/each}}
	</section>
</template>