<template name="userProfilePlaces">
	<section class="user-profile-places">
		{{#each places}}
			<div class="col-md-4">
				<div class="place">
					<header>
						{{#if activated}}						
						{{else}}
							<div class="validation-in-progess">Validation in progess</div>
						{{/if}}
						<div class="focuspoint avatar"
						data-focus-x="{{avatar.focusX}}"
						data-focus-y="{{avatar.focusY}}"
						data-image-w="{{avatar.w}}"
						data-image-h="{{avatar.h}}">
							{{#if avatar}}
							<img src="{{avatar.url}}">
							{{/if}}
						</div>
						<div class="focuspoint cover"
						data-focus-x="{{cover.focusX}}"
						data-focus-y="{{cover.focusY}}"
						data-image-w="{{cover.w}}"
						data-image-h="{{cover.h}}">
							{{#if cover}}
							<img src="{{cover.url}}" alt="Place cover">
							{{/if}}
						</div>
					</header>
					
					<section>
						<h1><a href="{{pathFor route='placeProfileAbout' _id=_id}}">{{name}}</a></h1>
						<h2>{{split activities}}</h2>
					</section>
				</div>
			</div>
		{{/each}}
	</section>
</template>