<template name="footer">
	<footer class="container-fluid" id="footer">
		<div class="row">
			<div class="col-md-12">
				<div class="col-container">
					<div class="col-left">
						<ul>
							<li>@2015 Mapker</li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
					<div class="col-middle">
						<img src="http://mapker.co/images/logo-mapker.png" alt="Brand">
					</div>
					<div class="col-right">
						<ul>
							<li><a href="#">Status</a></li>
							<li><a href="#">API</a></li>
							<li><a href="#">Training</a></li>
							<li><a href="#">Shop</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>