<template name="placeProfileIdentityEdition">
	<form id='edit-identity-form'>
		<div class='form-group {{errorClass "name"}}'>
			<label for='input-name'>Name</label>
			<input class='form-control' type="text" value="{{place.name}}" id="input-name">
			<span class='help-block'>{{errorMessage 'name'}}</span>
		</div>
		<div class="form-group {{errorClass 'types'}}">
			<label for="select-types">Types <em>(3 max)</em></label>
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-content="Select 3 terms max to descibe the type of your" data-trigger="hover click"></span>
			<select id="select-types" name="types[]" multiple class="demo-default" placeholder="Select a type...">
				<option value="">Select a type...</option>
				<option value="coworking">Coworking</option>
				<option value="fablab">Fablab</option>
				<option value="hackerspace">Hackerspace</option>
				<option value="school">School</option>
			</select>
			<span class="help-block">{{errorMessage 'types'}}</span>
		</div>
		<div class="form-group {{errorClass 'specialities'}}">
			<label for="select-specialities">Specialities <em>(5 max)</em></label>
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-content="Select 5 terms max to descibe the specialities of your place" data-trigger="hover click"></span>
			<select id="select-specialities" name="specialities[]" multiple class="demo-default" placeholder="Select a speciality...">
				<option value="">Select a speciality...</option>
				<option value="architecture">Architecture</option>
				<option value="art">Art</option>
				<option value="beauty">Beauty</option>
				<option value="biology">Biology</option>
				<option value="chemistry">Chemistry</option>
				<option value="craft">Craft</option>
				<option value="design">Design</option>
				<option value="digital">Digital</option>
				<option value="drone">Drone</option>
				<option value="ecology">Ecology</option>
				<option value="electronics">Electronics</option>
				<option value="environment">Environment</option>
				<option value="fashion design">Fashion design</option>
				<option value="graphism">Graphism</option>
				<option value="health">Health</option>
				<option value="mechanic">Mechanic</option>
				<option value="metal">Metal</option>
				<option value="photography">Photography</option>
				<option value="physics">Physics</option>
				<option value="plastic">Plastic</option>
				<option value="print">Print</option>
				<option value="space">Space</option>
				<option value="upcycling">Upcycling</option>
				<option value="video">Video</option>
				<option value="wood">Wood</option>	
			</select>
			<span class="help-block">{{errorMessage 'specialities'}}</span>
		</div>
		<div class="form-group {{errorClass 'address'}}">
			<label for="input-street-number">Address</label>
			<input type="number" class="form-control" id="input-street-number" placeholder="N°" value="{{place.streetNumber}}">

			<input type="text" class="form-control" id="input-street-name" placeholder="Street" value="{{place.streetName}}">

			<input type="text" class="form-control" id="input-zipcode" placeholder="Zipecode" value="{{place.zipcode}}">

			<input type="text" class="form-control" id="input-city" placeholder="City" value="{{place.city}}">

			<select id="select-country" class="form-control">
				<option value="fr">France</option>
				<option value="sw">Suisse</option>
			</select>

			<span class="help-block col-sm-offset-2 col-sm-10">{{errorMessage 'address'}}</span>
			{{{staticMapUrl}}}
		</div>		
		<button type='button' class='btn btn-default' id='close-identity-edit-popover'>Cancel</button>
		<button type='button' class='btn btn-primary' id="check-location">Check your location</button>
		<button type='submit' class='btn btn-success' id="submit-identity">Save</button>
	</form>
</template>

<template name="placeUpdateSocialProfiles">
	<form id='social-profiles-form'>
		<div class='form-group {{errorClass "facebook"}}'>
			<label for='edit-activity'>Facebook</label>
			<input class='form-control' type='url' id='edit-facebook' value='{{place.links.facebook}}'>
			<span class='help-block'>{{errorMessage 'facebook'}}</span>
		</div>
		<div class='form-group {{errorClass "flickr"}}'>
			<label for='edit-activity'>Flickr</label>
			<input class='form-control' type='url' id='edit-flickr' value='{{place.links.flickr}}'>
			<span class='help-block'>{{errorMessage 'flickr'}}</span>
		</div>
		<div class='form-group {{errorClass "twitter"}}'>
			<label for='edit-activity'>Twitter</label>
			<input class='form-control' type='url' id='edit-twitter' value='{{place.links.twitter}}'>
			<span class='help-block'>{{errorMessage 'twitter'}}</span>
		</div>
		<div class='form-group {{errorClass "website"}}'>
			<label for='edit-activity'>Personal website</label>
			<input class='form-control' type='url' id='edit-website' value='{{place.links.website}}'>
			<span class='help-block'>{{errorMessage 'website'}}</span>
		</div>
		<button type='button' class='btn btn-default' id='close-social-profiles-popover'>Cancel</button>
		<button type='submit' class='btn btn-primary' id='save-identity-btn'>Save</button>
	</form>
</template>

<template name="placeProfileLayout">
	<div class="container-fluid profile-page" id="place-profile-page">
		<div class="row">
			<header class="col-md-12">
				<section id="cover-avatar">
					<div class="profile-cover">
						{{#if place.cover}}
						<div class="focuspoint" id="profile-cover-bg" style="background-image: url({{place.cover.url}})">
						</div>
						{{else}}
						<div class="focuspoint" id="profile-cover-bg">
						</div>
						{{/if}}

						{{#if isAdmin}}
						<button class="upload-cover-btn btn btn-primary" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">Upload a cover picture</button>
						{{/if}}

						<section class="row" id="social-bar">
							<div class="col-md-12">
								<div class="col-md-8 col-sm-offset-2">
									<div class="pull-right">
										<button type="button" class="btn btn-default user-action-message">Message</button>
									</div>
								</div>
							</div>
						</section>
					</div>

					{{#if isAdmin}}
						{{#if place.avatar}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<div style="background-image: url({{place.avatar.url}})" id="profile-avatar-bg">
									<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
								</div>
							</div>
						</a>
						{{else}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<div style="background-image: url(/images/avatar-place-default.png)" id="profile-avatar-bg">
									<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
								</div>
							</div>
						</a>
						{{/if}}
					{{else}}
						{{#if place.avatar}}
						<div class="profile-avatar">
							<div style="background-image: url({{place.avatar.url}})" id="profile-avatar-bg">
								<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
							</div>
						</div>
						{{else}}
						<div class="profile-avatar">
							<div style="background-image: url(/images/avatar-place-default.png)" id="profile-avatar-bg">
								<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
							</div>
						</div>
						{{/if}}
					{{/if}}
				</section>
			</header>
		</div>

		<section class="row" id="resource-infos">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<div class="row">

					<div id="resource-infos-identity" class="col-sd-12 col-md-6">
						{{#if isAdmin}}
						<div id="identity-edit" role="button">
							<div id="identity">
								<h1>
									<span class="icon icon-place-dot"></span>
									<span id="user-name">{{place.name}}</span>
									{{#if place.types}}
									<span id="user-activity">- {{split place.types}}</span>
									{{/if}}
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</h1>
								
								{{#if place.formattedAddress}}
								<span id="user-area">{{place.formattedAddress}}</span>
								{{/if}}
							</div>
						</div>
						{{else}}
						<div id="identity">
							<h1>
								<span class="icon icon-place-dot"></span>
								<span id="user-name">{{place.name}}</span>
								{{#if place.types}}
								<span id="user-activity">- {{split place.types}}</span>
								{{/if}}
							</h1>
							
							{{#if place.formattedAddress}}
							<span id="user-area">{{place.formattedAddress}}</span>
							{{/if}}
						</div>
						{{/if}}
					</div>

					<div id="resource-infos-social-profiles" class="col-sd-12 col-md-6">
						<div id="social-profiles">
						
						{{#if place.links}}
							{{#if place.links.facebook}}
							<a href="{{place.links.facebook}}" target="_blank"><span class="social-icon-25 social-icon-25-facebook"></span></a>
							{{/if}}
							{{#if place.links.twitter}}
							<a href="{{place.links.twitter}}" target="_blank"><span class="social-icon-25 social-icon-25-twitter"></span></a>
							{{/if}}
							{{#if place.links.flickr}}
							<a href="{{place.links.flickr}}" target="_blank"><span class="social-icon-25 social-icon-25-flickr"></span></a>
							{{/if}}
							{{#if place.links.website}}
							<a href="{{place.links.website}}" target="_blank"><span class="social-icon-25 social-icon-25-website"></span></a>
							{{/if}}

							{{#if isAdmin}}
							<a href="#" id="edit-social-profiles">Edit</a>
							{{/if}}
						{{else}}
							{{#if isAdmin}}
							<div id="add-social-profiles">
								Add your social profiles
							</div>
							{{/if}}
						{{/if}}
						
						</div>
					</div>

				</div>
			</div>
		</section>

		<nav class="row" id="inner-nav">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<ul class="nav nav-pills">
					<li role="presentation" class="active">
						<a href="{{pathFor route='placeProfileAbout' _id=place._id}}">About</a>
					</li>
					<li role="presentation">
						<a href="{{pathFor route='placeProfileTimetable' _id=place._id}}">Opening hours</a>
					</li>
					<li role="presentation">
						<a href="{{pathFor route='placeProfileStaff' _id=place._id}}">Staff</a>
					</li>
					<!--<li>
						<a href="{{pathFor route='userProfilePlaces' _id=user._id}}">Places</a>
					</li> -->
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				{{> yield "content"}}
			</div>
		</div>

	</div>
	{{> footer}}
</template>