<template name="placeProfileLayout">
	<div class="container-fluid profile-page" id="user-profile-page">
		<div class="row">
			<header class="col-md-12">
				<section id="cover-avatar">
					<div class="profile-cover">
						{{#if place.cover}}
						<div class="focuspoint" id="profile-cover-bg"
						data-focus-x="{{place.cover.focusX}}"
						data-focus-y="{{place.cover.focusY}}"
						data-image-w="{{place.cover.w}}"
						data-image-h="{{place.cover.h}}">
							<img class="profile-cover-image" src="{{place.cover.url}}" alt="Cover">
						</div>
						{{else}}
						
						{{/if}}

						{{#if isAdmin}}
						<button class="upload-cover-btn btn btn-primary" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">Upload a cover picture</button>
						{{/if}}
					</div>

					{{#if isAdmin}}
						{{#if place.avatar}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<div class="focuspoint" id="profile-avatar-bg"
									data-focus-x="{{place.avatar.focusX}}"
									data-focus-y="{{place.avatar.focusY}}"
									data-image-w="{{place.avatar.w}}"
									data-image-h="{{place.avatar.h}}">
										<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
										<img class="profile-avatar-image" src="{{place.avatar.url}}" alt="Avatar">
								</div>
							</div>
						</a>
						{{else}}
						<a href="#" id="upload-avatar-btn" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">
							<div class="profile-avatar">
								<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
							</div>
						</a>
						{{/if}}
					{{else}}
						{{#if place.avatar}}
						<div class="profile-avatar">
							<div class="focuspoint" id="profile-avatar-bg"
								data-focus-x="{{place.avatar.focusX}}"
								data-focus-y="{{place.avatar.focusY}}"
								data-image-w="{{place.avatar.w}}"
								data-image-h="{{place.avatar.h}}">
									<span class="glyphicon glyphicon-camera edit-cover-icon" aria-hidden="true"></span>
									<img class="profile-avatar-image" src="{{place.avatar.url}}" alt="Avatar">
							</div>
						</div>
						{{else}}
						<div class="profile-avatar">
							<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
						</div>
						{{/if}}
					{{/if}}
				</section>
			</header>
		</div>

		<section class="row" id="user-infos">
			<div class="col-md-8 col-sm-offset-2">
				<div class="row">
					<div class="col-sd-12 col-md-6">
						<h1 class="user-name">{{place.name}}</h1>
						{{#if place.activities}}
						<span class="user-activity">- {{place.activities}}</span>
						{{/if}}
						{{#if place.formattedAddress}}
						<span class="user-area">{{place.formattedAddress}}</span>
						{{/if}}
					</div>
					<div class="col-sd-12 col-md-6">
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col-md-8 col-sm-offset-2">
				{{> yield "content"}}
			</div>
		</div>

	</div>
</template>