#place-profile-page .profile-avatar {
	width: 160px;
	height: 160px;
	background-color: #eeeeee;
	position: absolute;
	top: 120px;
	border-radius: 15px;
	text-align: center;
	overflow: hidden;
	text-align: center;
	border: 2px solid #FAFAFC;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	padding-right: 0px;
	padding-left: 0px;
	left: 15px;
}

#place-profile-page .profile-avatar-image {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-height: none;
	max-width: none;
}

#place-profile-page .popover #submit-identity {
	display: none;
}