.search-place#search-container {
	width: 780px;
}

.search-place#search-container #search-container-inner {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 103%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

/* Label color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label {
	/*color: #333;*/
}

/* Box border color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label:before, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label:before {
	/*border: 2px solid #333845;*/
}

/* Box checked color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label:after, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label:after {
	/*background-color: #333845;*/
}

/* Loader color */
.search-place#search-container.no-search .loader {
	display: none;
}

.search-place#search-container .loader {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	margin-top: 30px;
}

.search-place#search-container .loader .double-bounce1,
.search-place#search-container .loader .double-bounce2 {
	background-color: #FC3975;
}

/* Places search results cards */
.search-place#search-container #search-results .result header .validation-in-progess {
	position: absolute;
	color: #4cd6ff;
	padding: 5px;
	text-align: center;
	background: #ffffff;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	font-size: 12px;
}

.search-place#search-container #search-results .result section {
	border-top: 4px solid #fc3975;
}

.search-place#search-container #search-results .result section .user-action-zoom-to {
	cursor: pointer;
	position: absolute;
	display: block;
	right: 13px;
	top: 40px;
	width: 22px;
	height: 21px;
	background-image: url(/images/picto-zoom-to.png);
}

/**
 * Search form
 */
.search-place#search-container #search-form input[type="text"] {
	color: #FB3975;
	border: 1px solid #D1D1D1;
	background-color: #F9F9F9;
}

.search-place#search-container #search-form .user-action-search {
	color: #FB3975;
}

.search-place#search-container #search-form .form-control:focus,
.search-place#search-container #search-form .form-control:active {
	box-shadow: none;
	border: 1px solid #FB3975;
}

/* Placeholder color */
.search-place#search-container #search-form input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
	color: rgba(251, 57, 117, 0.49);
	font-size: 12px;
	padding-top: 2px;
}
.search-place#search-container #search-form input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(251, 57, 117, 0.49);
   opacity:  1;
   font-size: 12px;
   padding-top: 2px;
}
.search-place#search-container #search-form input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(251, 57, 117, 0.49);
   opacity:  1;
   font-size: 12px;
   padding-top: 2px;
}
.search-place#search-container #search-form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(251, 57, 117, 0.49);
   font-size: 12px;
   padding-top: 2px;
}

/**
 * Search results 
 */
.search-place.no-search#search-container #search-results {
	display: none;
}
.search-place#search-container #search-results {
	height: 100%;
	margin-left: 250px;
	overflow: hidden;
	width: 530px;
}

.search-place#search-container #search-results .result {
	width: 485px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.search-place#search-container #search-results #search-results-inner {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 5px;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 30px;
	width: 552px;
	height: 100%;
}
