<template name="searchPlaces">
	<div class="col-md-4 no-search search-place" id="search-container">
		<section class="" id="search-parameters">
			<img class="search-icon" src="/images/search-places-icon.png" alt="Search a place">
			<form class="row" id="search-form">
				<div class="form-group" id="input-what-container">
					<input type="text" class="form-control" id="input-what" placeholder="What are you looking for?" autocomplete="off">
				</div>
				<div class="form-group" id="input-where-container">
					<input type="text" class="form-control" id="input-where" placeholder="Where?" autocomplete="off">
				</div>
				<div class="form-group">
					<button class="btn user-action-search"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</form>
			{{#if places}}
				{{#if eq places "no-result"}}
				<!-- <div class="alert-container">
					<div class="alert alert-danger" role="alert">
						No place were found for your search.
					</div>
				</div> -->
				{{/if}}
			{{else}}
				{{> loader}}
			{{/if}}
		</section>
			
		<section class="" id="search-results">
			<div id="search-results-inner">
				{{#if places}}
					{{#if eq places "no-result"}}
					{{else}}
						{{#each places}}
						<div class="col-md-12">
							<div class="result" data-id="{{_id}}">
								<header>
									<div class="avatar" style="background-image: url({{avatar.url}})">
									</div>
									<div class="focuspoint cover">
										{{#if cover}}
										<a href="{{pathFor route='placeProfileAbout' _id=_id}}" style="background-image:url({{cover.url}});">
										</a>
										{{else}}
										<a href="{{pathFor route='placeProfileAbout' _id=_id}}" style="background-image:url(/images/fond-cover-place.png); background-repeat: repeat;height: 100px;display: block;"></a>
										{{/if}}
									</div>
								</header>
								
								<section>
									<h1><a href="{{pathFor route='placeProfileAbout' _id=_id}}">{{name}}</a></h1>
									<h2>{{split types}}</h2>
									<span data-id="{{_id}}" class="user-action-zoom-to" aria-hidden="true"></span>
								</section>
							</div>
						</div>
						{{/each}}
					{{/if}}
				{{/if}}
			</div>
		</section>
	</div>
	<div id="map-container">
		<div id="map" class="mapbox"></div>
	</div>
</template>