.search-place#search-container {
	position: absolute;
	z-index: 1;
	height: 100%;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0px;
	width: 750px;
	top: 0px;
	padding-top: 77px;
	z-index: 2;
}

.search-place#search-container #search-container-inner {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 103%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

.search-place#search-container #search-parameters {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
	width: 250px;
	padding-top: 60px;
}

.search-place#search-container #search-parameters .search-places-icon {
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.search-place#search-container #search-parameters #input-what-container {
	position: relative;
}

/* Label color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label {
	/*color: #333;*/
}

/* Box border color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label:before, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label:before {
	/*border: 2px solid #333845;*/
}

/* Box checked color */
.search-place#search-container #search-parameters input[type="radio"]:not(:checked) + label:after, 
.search-place#search-container #search-parameters input[type="radio"]:checked + label:after {
	/*background-color: #333845;*/
}

/* Loader color */
.search-place#search-container #search-results .loader .double-bounce1,
.search-place#search-container #search-results .loader .double-bounce2 {
	background-color: #FC3975;
}

/* Places search results cards */
.search-place#search-container #search-results .result header .validation-in-progess {
	position: absolute;
	color: #4cd6ff;
	padding: 5px;
	text-align: center;
	background: #ffffff;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	font-size: 12px;
}

.search-place#search-container #search-results .result section {
	border-top: 2px solid #fc3975;
}

/**
 * Search form
 */
.search-place#search-container #search-form .form-group {
	margin-bottom: 10px;
}

.search-place#search-container #search-form {
	margin-right: 0px;
	margin-left: 0px;
}

.search-place#search-container #search-form input {
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search-place#search-container #search-form input[type="text"] {
	border: 1px solid #8D8C8C;
	border-radius: 5px;
	background-color: rgba(0,0,0, 0.05);
}

.search-place#search-container #search-form .autocomplete-suggestions {
	margin-left: 35px;
}

/* Placeholder color */
.search-place#search-container #search-form input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color: #FB3975;
}
.search-place#search-container #search-form input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #FB3975;
   opacity:  1;
}
.search-place#search-container #search-form input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #FB3975;
   opacity:  1;
}
.search-place#search-container #search-form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #FB3975;
}

/**
 * Search results 
 */
.search-place.no-search#search-container #search-results {
	display: none;
}
.search-place#search-container #search-results {
	height: 100%;
	margin-left: 250px;
	overflow: hidden;
	width: 500px;
}

.search-place#search-container #search-results #search-results-inner {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	width: 520px;
	height: 100%;
}
