<template name="placeProfileStaff">
	<section class="place-profile-staff">
		{{#if isAdmin}}
			<button type="button" class="btn btn-primary user-action-open-modal-invite-staff">Invite staff members</button>
		{{/if}}
	</section>
</template>

<template name="placeProfileStaffAddMember">
	<form class="form-inline" id="add-member-form">
		<div class="form-group" id="input-who-container">
			<input type="text" class="form-control" placeholder="Invite a new member" id="input-who">
			<span class="help-block"></span>
		</div>
		<a href="#" role="button" class="btn btn-primary disabled user-action-add-staff-member">Add</a>
	</form>
</template>