<template name="Home">
	<div class="container-fluid" id="home-page">
		<header class="row">
			<div class="col-md-offset-3 col-md-6">
				<h1>Search for the resources you need in Paris</h1>
				<form class="form-inline" id="resources-search">
					<div class="form-group col-xs-12 col-sm-4 col-md-12 col-lg-4">
						<input type="text" class="form-control" id="input-what" placeholder="What are you looking for?">
					</div>
					<div class="form-group col-xs-12 col-sm-3 col-md-12 col-lg-3">
						<select class="form-control">
							<option value="places">Places</option>
							<option value="machines">Machines</option>
							<option value="projects">Projects</option>
							<option value="skills">Skills</option>
						</select>
					</div>
					<div class="form-group col-xs-12 col-sm-3 col-md-12 col-lg-3">
						<input type="text" class="form-control" id="input-type" placeholder="Where?">
					</div>
					<div class="form-group col-xs-12 col-sm-2 col-md-12 col-lg-2">
						<input class="btn btn-primary" type="submit" value="Search">
					</div>
				</form>
			</div>
		</header>
	</div>
	{{> footer}}
</template>