<template name="Home">
	<div class="row full-width">
		<div class="small-12 large-14 columns">
			AWS S3 file upload test
			<input type="file" id="file-chooser" /> 
			<button id="upload-button">Upload to S3</button>
			<div id="results"></div>
		</div>
	</div>

	<div>
		<div class="helper-tool">
			<!-- <img class="focus-target-reticle" src='../img/focuspoint-target.png' /> -->
			<div class="helper-tool-target">
				<img class="helper-tool-img" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
				<img class="reticle" src="http://jonom.github.io/jquery-focuspoint/demos/img/focuspoint-target.png">
				<img class="target-overlay" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
			</div>
			<p>
				<label for="set-src">Paste in a URL to change the image</label>
				<input name="set-src" id="set-src" class="helper-tool-set-src" type="text">
			</p>
			<p>
				<label for="data-attr">FocusPoint data- attributes:</label>
				<input class="helper-tool-data-attr" id="data-attr" name="data-attr" type="text" placeholder="data-focus-x=&quot;0&quot; data-focus-y=&quot;0&quot; ">	
			</p>
			<p>
				<label for="css3-val">CSS3 Background Position:</label>
				<input class="helper-tool-css3-val" id="css3-val" name="css3-val" type="text" placeholder="background-position:">	
			</p>
		</div>
	</div>
</template>