<template name="Home">
	<div class="container-fluid" id="home-page">
		<header class="row">
			<div class="col-md-offset-3 col-md-6">
				<h1>Search for the resources you need in Paris</h1>
				<form class="form-inline" id="resources-search">
					<div class="form-group">
						<input type="text" class="form-control" id="input-what" placeholder="What are you looking for?">
					</div>
					<div class="form-group">
						<select class="form-control">
							<option value="places">Places</option>
							<option value="machines">Machines</option>
							<option value="projects">Projects</option>
							<option value="skills">Skills</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="input-type" placeholder="Where?">
					</div>
					<div class="form-group">
						<input class="btn btn-default" type="submit" value="Search">
					</div>
				</form>
				<button type="button" class="btn btn-info" id="modal-add-place" data-toggle="modal" data-modal-template="modalAddPlace" data-target="#myModal">Want to add your place ?</button>
			</div>
		</header>

		<div class="row">
			<div class="col-md-12">
				AWS S3 file upload test
				<input type="file" id="file-chooser" /> 
				<button id="upload-button">Upload to S3</button>
				<div id="results"></div>
			</div>
		</div>
	</div>

	<div>
		<div class="helper-tool">
			<!-- <img class="focus-target-reticle" src='../img/focuspoint-target.png' /> -->
			<div class="helper-tool-target">
				<img class="helper-tool-img" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
				<img class="reticle" src="http://jonom.github.io/jquery-focuspoint/demos/img/focuspoint-target.png">
				<img class="target-overlay" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
			</div>
			<p>
				<label for="set-src">Paste in a URL to change the image</label>
				<input name="set-src" id="set-src" class="helper-tool-set-src" type="text">
			</p>
			<p>
				<label for="data-attr">FocusPoint data- attributes:</label>
				<input class="helper-tool-data-attr" id="data-attr" name="data-attr" type="text" placeholder="data-focus-x=&quot;0&quot; data-focus-y=&quot;0&quot; ">	
			</p>
			<p>
				<label for="css3-val">CSS3 Background Position:</label>
				<input class="helper-tool-css3-val" id="css3-val" name="css3-val" type="text" placeholder="background-position:">	
			</p>
		</div>
	</div>
</template>