<template name="primaryNavbarNotifications">
	<a class="dropdown-toggle user-action-open-notifs-list" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
		{{#if notifsCount}}
		<span class="badge notifs-count">{{notifsCount}}</span>
		{{/if}}
	</a>
	<ul class="dropdown-menu" id="navbar-notifs-list">
		<li>Notifications</li>
		{{#each notifs}}
			{{#if read}}
			<li class="read">
				<a href="#">
					{{{msg}}}
				</a>
			</li>
			{{else}}
			<li class="unread">
				<a href="#">
					{{{msg}}}
				</a>
			</li>
			{{/if}}
		{{/each}}
	</ul>
</template>