/**
 * 01 - 
 */

/**
 * 01 - 
 */
#navbar-notifs-list {
  color: #333;
	width: 320px;
	margin-top: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#navbar-notifs-list:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#navbar-notifs-list:after {
  position: absolute;
  top: -16px;
  right: 15px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #ffffff;
  border-left: 10px solid transparent;
  content: '';
}

#navbar-notifs-list li:first-child {
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 5px;
  padding-bottom: 5px;
}