/**
 * 01 - 
 */

/**
 * 01 - 
 */
.notif-menu-item .notifs-count {
  position: absolute;
  top: 18px;
  left: 29px;
  text-align: center;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: #fc7e7e;
}
#navbar-notifs-list {
  color: #333;
	width: 320px;
	margin-top: 5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#navbar-notifs-list:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#navbar-notifs-list:after {
  position: absolute;
  top: -16px;
  right: 25px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #ffffff;
  border-left: 10px solid transparent;
  content: '';
}

#navbar-notifs-list li:first-child {
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
  padding: 5px 0px 5px 0px;
}

#navbar-notifs-list li {
  
}

#navbar-notifs-list li a {
  padding: 15px 20px 15px 20px;
}

#navbar-notifs-list li.unread {
  background-color: #ECF9FE;
}