.user-profile-timetable {
	.seven-cols {
		text-align: center;

		.col-md-1,
		.col-sm-1,
		.col-lg-1  {
			@media (min-width: 768px){
				width: 100%;
				*width: 100%;
			}

			@media (min-width: 992px) {
				width: 14.285714285714285714285714285714%;
				*width: 14.285714285714285714285714285714%;
			}

			@media (min-width: 1200px) {
				width: 14.285714285714285714285714285714%;
				*width: 14.285714285714285714285714285714%;
			}
		}
	}

	.days-week {
		background-color: #f63875;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
		padding-top: 30px;
		padding-bottom: 25px;

		@media (max-width: 992px) {
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 0px;
			padding-left: 0px;
		}

		.day {
			padding-right: 0px;
			padding-left: 0px;

			@media (max-width: 992px) {
				height: 144px;
				line-height: 144px;
				border-bottom: 1px solid #E7E7E7;
			}
		}
	}

	.hours {
		background-color: #ffffff;
		color: #000000;
		font-weight: bold;
		font-size: 15px;
		border: 1px solid #eaeaec;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		margin-bottom: 15px;
		padding-left: 0px;
		padding-right: 0px;

		@media (max-width: 992px) {
			height: 144px;
			border-left: none;
		}

		.hour {
			background-color: #FFF;

			.user-action-set-closed {
				margin-bottom: 30px;
				width: 100%;
				padding: 10px 0px;
			}

			@media (max-width: 992px) {
				height: 144px;
				border-bottom: 1px solid #DDD;

				&:first-child {
					  height: 143px;
				}
			}
		}

		.hour.active {
			.timerange-display {
				display: none;
			}

			.timerange-edit {
				display: block;

				span {
					display: block;
				}
			}

			.user-action-set-closed {
				display: none;
			}
		}

		.timerange-display {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.timerange-display.editable {
			padding-bottom: 20px;

			&:hover {
				cursor: pointer;

				&:after {
					content: "\270f";
					position: absolute;
					top: 35px;
					display: inline-block;
					font-family: 'Glyphicons Halflings';
					font-style: normal;
					font-weight: normal;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					right: 10px;
  					font-size: 12px;
				}
			}
		}

		.timerange-edit {
			display: none;
			padding-top: 10px;
			padding-bottom: 0px;

			.user-action-cancel-hour {
				position: relative;
				cursor: pointer;
				top: 2px;

				&:hover {
					color: #4FB8E9;
				}
			}

			span {
				font-weight: normal;
				font-size: 14px;
			}

			input {
				max-width: 100%;
				padding: 2px 5px;
			}

			input.end {
				margin-bottom: 35px;
			}
		}
	}

	.pull-right {
		display: none;
	}
}