<template name="placeProfileTimetable">
	<section class="user-profile-timetable">
		<div class="col-sm-6 col-md-12 seven-cols days-week">
			<div class="col-md-1">Monday</div>
			<div class="col-md-1">Tuesday</div>
			<div class="col-md-1">Wednesday</div>
			<div class="col-md-1">Thursday</div>
			<div class="col-md-1">Friday</div>
			<div class="col-md-1">Saturday</div>
			<div class="col-md-1">Sunday</div>
		</div>
		<div class="col-sm-6 col-md-12 seven-cols hours">
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">9h - 18h</div>
			<div class="col-md-1">Closed</div>
		</div>
	</section>
</template>