<template name="dmca">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>DMCA</h1>

				Claims Regarding Copyright Infringement <br>
				Notice of Alleged Copyright Infringement<br>
				Pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512), Mapker, Inc. (“the Company”) has implemented procedures for receiving written notification of claimed copyright infringement. The Company has also designated an agent to receive notices of claimed copyright infringement. If you believe in good faith that your copyright has been infringed, you may submit a notice. To be effective, a notice must be a written communication provided to the Company's Copyright Agent and must contain:
				<br><br>
				An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
				<br><br>
				A description of the copyrighted work that you claim has been infringed;
				<br><br>
				A description specifying the location of the material that you claim is infringing;
				<br><br>
				Your telephone number and e-mail address;
				<br><br>
				A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
				<br><br>
				A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
				<br><br>
				The Company's Copyright Agent for Notice of Claims of Copyright Infringement can be reached as follows:<br>
				By E-mail to: copyright@mapker.co<br>
				<br><br>
				Upon receipt of the notice containing the required information, the Company may:
				Remove or disable access to the material that is alleged to be infringing;
				Forward the written notification to the channel application developer and/or service provider who is providing the allegedly infringing content, along with your contact information; and take reasonable steps to promptly notify the channel application developer and/or service provider that the Company has removed or disabled access to the allegedly infringing material and that the channel application developer and/or service provider may respond with a Counter-Notice.
				<br><br>
				Terminate the channel application developer's and/or service provider's account in the case of repeat infringement if no Counter-Notice is filed and/or if a lawsuit is filed.
				Counter-Notice
				<br><br>
				If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a Counter-Notice, pursuant to Sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. To be effective, a Counter-Notice must be a written communication provided to the Company's Copyright Agent and must contain:
				<br><br>
				Your physical or electronic signature;
				<br><br>
				Identification of the material removed or to which access has been disabled;
				<br><br>
				A statement under penalty of perjury that you have a good faith belief that removal or disablement of the material was a mistake or that the material was misidentified;
				<br><br>
				Your name and telephone number, and a statement that you consent to the jurisdiction of the Federal District court (i) in the judicial district where your address is located if the address is in the United States, or (ii) in Sonoma County, California, if your address is located outside the United States and that you will accept service of process from the Complainant submitting the notice.
				<br><br>
				The Company's Copyright Agent for submitting Counter-Notices to Claims of Copyright Infringement can be reached as follows:
				<br><br>
				By E-mail to: copyright@mapker.co
				<br><br>
				Upon receipt of a Counter-Notice containing the required information, the Company may:
				Promptly provide the Complainant with a copy of the Counter-Notice;
				<br><br>
				Inform the Complainant that it will not remove the material or cease enabling access to it unless, within ten (10) business days, the Complainant provides the Company's Copyright Agent with notice that Complainant has filed an action seeking a court order to restrain the channel application developer and/or service provider from engaging in infringing activity.<br>
				Mapker 
			</div>
		</div>
	</div>

	{{> footer}}
</template>