<template name="UserProfileBio">
	<section class="user-profile-bio">
		<div class="user-bio-container">
			{{#if eq currentUser._id _id}}
				{{#if profile.bio}}
					<div class="user-bio-content">
						{{{htmlLineBreack profile.bio}}}
						<a href="#" id="update-user-bio">Edit</a>
					</div>
				{{else}}
				<div id="update-user-bio" class="add-user-bio">
					Talk about you
				</div>
				{{/if}}
			{{else}}
				{{{htmlLineBreack profile.bio}}}
			{{/if}}
		</div>
		<div class="user-bio-edition">
			<form id="form-user-bio">
				<div class="form-group">
					<textarea class="form-control" id="input-user-bio">{{profile.bio}}</textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-default" id="cancel-bio-edit">Cancel</button>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
	</section>
</template>