/**
 * 01 - General
 * 02 - Search input
 */
#primary-navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 75px;
	border: none;
	border-bottom: 2px solid #2ebdff;
	color: #FFFFFF;
	background: -webkit-linear-gradient(left, #272d47, #454662); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #272d47, #454662); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #272d47, #454662); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #272d47, #454662); /* Standard syntax */
	z-index: 2000;
}

#primary-navbar .avatar {
	position: relative;
	top: -10px;
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 25px;
	background-size: cover;
	float: left;
}

#primary-navbar .navbar-header {
		height: 75px;
}

#primary-navbar .navbar-form {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
}

#primary-navbar .navbar-toggle {
		margin-top: 20px;
}

#primary-navbar .collapse.in li{
	border-top: 1px solid #2A2A2A;
}

#primary-navbar .navbar-brand {
	color: #FFFFFF;
	padding-top: 27px;
	padding-bottom: 26px;
}

#primary-navbar #action-create-dropdown {
	padding-top: 15px;
	padding-bottom: 0px;
}

#primary-navbar #action-create-dropdown span.glyphicon {
	background: transparent;
	border-radius: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 12px;
	padding-left: 1px;
	border: 1px solid #FFF;
	font-weight: lighter;
}

#primary-navbar .open #action-create-dropdown {
	background-color: transparent;
}

#primary-navbar #action-create-list {
	border: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-top: 5px;
}

#primary-navbar .navbar-nav > li > a {
	color: #FFFFFF;
	padding-top: 27px;
	padding-bottom: 26px;
}

#primary-navbar .navbar-form {
	margin-top: 20px;
}

#primary-navbar input[type="text"] {
	border: 1px solid #252833;
	background-color: #494e63;
	color: #FFFFFF;
} 

#primary-navbar #main-menu a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

/** 
 * 02 - Search input 
 */
#primary-navbar #navbar-search .selectize-control {
	width: 320px;
}

#primary-navbar #navbar-search .selectize-input {
	height: 40px;
	border: 1px solid #252833;
	background-color: #494e63;
	color: #FFFFFF;
}

#primary-navbar #navbar-search .selectize-input input {
	width: auto !important;
}

#primary-navbar #navbar-search .logo-container {
	width: 40px;
	height: 40px;
	display: inline-block;
}

#primary-navbar #navbar-search .logo-container .logo {
	width: 40px;
	height: 40px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#primary-navbar #navbar-search a {
	display: block;
}

#primary-navbar #navbar-search .infos {
	display: inline-block;
}

#primary-navbar #navbar-search .infos span {
	display: block;
}

.infos .title {
	position: relative;
	top: -5px;
	height: 40px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

#primary-navbar #navbar-search .infos span.name {
	font-size: 14px;
	line-height: 16px;
	color: #333;
	font-weight: bold;
}

.type {
	font-size: 11px;
	color: #999;
	font-weight: normal;
}