<template name="searchSkills">
	<div class="no-search search-skills" id="search-container">
		<div>
			<section class="" id="search-parameters">
				<img class="search-icon" src="/images/search-skills-icon.png" alt="Search a place">
				<form class="row" id="search-form">
					<div class="form-group" id="input-what-container">
						<input type="text" class="form-control" id="input-skills" placeholder="What are you looking for?" autocomplete="off">
					</div>
					<div class="form-group" id="input-where-container">
						<input type="text" class="form-control" id="input-where" placeholder="Where?" autocomplete="off">
					</div>
					<div class="form-group">
						<button class="btn user-action-search"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</form>
				{{#if users}}
					{{#if eq users "no-result"}}
					<div class="alert-container">
						<div class="alert alert-danger" role="alert">
							No skill were found for your search.
						</div>
					</div>
					{{/if}}
				{{else}}
					{{> loader}}
				{{/if}}
			</section>
		</div>


		<section class="" id="search-results">
			<div class="col-md-12">
				<div class="col-md-10 col-md-offset-1">
				{{#if users}}
					{{#if eq users "no-result"}}
					{{else}}
						{{#each users}}
						<div class="col-sd-12 col-md-6">
							<div class="result" data-id="{{_id}}">
								<header>
									<div class="avatar" style="background-image: url({{avatar.url}})">
									</div>
									<div class="focuspoint cover" data-focus-x="{{cover.focusX}}" data-focus-y="{{cover.focusY}}" data-image-w="{{cover.w}}" data-image-h="{{cover.h}}">
										{{#if cover}}
										<a href="{{pathFor route='userProfileBio' _id=_id}}"><img src="{{cover.url}}" alt="Place cover"></a>
										{{/if}}
									</div>
								</header>
								
								<section>
									<h1><a href="{{pathFor route='userProfileBio' _id=_id}}">{{name}}</a></h1>
									<h2>{{activity}}</h2>
								</section>
							</div>
						</div>
						{{/each}}
					{{/if}}
				{{/if}}
				</div>
			</div>
		</section>
	</div>
</template>