.search-skills#search-container {
	z-index: 1;
	height: 100%;
	/*overflow: hidden;*/
	padding-right: 0px;
	padding-left: 0px;
}

.search-skills#search-container #search-container-inner {
	/*overflow-x: hidden;*/
	height: 100%;
}

.search-skills#search-container #search-parameters {
	background-image: url(/images/skills-search-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 30px;
	height: 263px;
	width: 100%;
}

.search-skills#search-container #search-results {
	margin-right: 0px;
	margin-left: 0px;
}

/* Loader color */
.search-skills#search-container #search-results .loader .double-bounce1,
.search-skills#search-container #search-results .loader .double-bounce2 {
	background-color: #20DEC2;
}

/* Users search results cards */
.search-skills#search-container #search-results .result section {
	border-top: 4px solid #20dec2;
}