<template name="modalChangeAvatar">
	<div class="modal-dialog modal-change-avatar">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Update your avatar</h4>
			</div>
			<div class="modal-body">
				<input type="file" id="input-avatar">

				{{#if currentUser.profile.avatar}}
				<div class="image-update-container">

					<div class="helper-tool">
						<!-- <img class="focus-target-reticle" src='../img/focuspoint-target.png' /> -->
						<div class="helper-tool-target" id="helper-tool-container">
							<img class="helper-tool-img" id="avatar-helper-tool-img" src="{{currentUser.profile.avatar.url}}">
							<img class="reticle" src="http://jonom.github.io/jquery-focuspoint/demos/img/focuspoint-target.png">
							<img class="target-overlay" id="avatar-target-overlay" src="{{currentUser.profile.avatar.url}}">
						</div>
						<em>Click on the image to indicate where this focal point is located. This ensure that this point will be never cropped out</em>
					</div>

					<button class="btn btn-primary image-upload">Change your avatar</button>
				</div>
				{{else}}
				<div class="image-upload-container">

					<div class="helper-tool">
						<!-- <img class="focus-target-reticle" src='../img/focuspoint-target.png' /> -->
						<div class="helper-tool-target" id="helper-tool-container">
							<img class="helper-tool-img" id="avatar-helper-tool-img" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
							<img class="reticle" src="http://jonom.github.io/jquery-focuspoint/demos/img/focuspoint-target.png">
							<img class="target-overlay" id="avatar-target-overlay" src="http://jonom.github.io/jquery-focuspoint/demos/img/city_from_unsplash.jpg">
						</div>
						<em>Click on the image to indicate where this focal point is located. This ensure that this point will be never cropped out</em>
					</div>

					<button class="btn btn-primary image-upload">Upload an image</button>
				</div>
				{{/if}}

			</div>
			<div class="modal-footer">
				<button class="btn btn-default" id="cancel-modal-avatar">Cancel</button>
				{{#if currentUser.profile.cover}}
				<button class="btn btn-success" id="update-avatar">Update</button>
				{{else}}
				<button class="btn btn-success" id="save-avatar">Save</button>
				{{/if}}
			</div>
		</div>
	</div>	
</template>