<template name="modalChangeAvatar">
	<div class="modal-dialog modal-change-avatar">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Update your avatar</h4>
			</div>
			<div class="modal-body">
				<input type="file" id="input-avatar">
				{{#if errorMessage 'image'}}
				<div class="alert alert-danger" role="alert">
				  <strong>{{errorMessage 'image'}}</strong>
				</div>
				{{/if}}

				<em>Position and resize your photo</em>

				<div id="first-upload" class="image-upload first-upload">Upload an image</div>

				<div class="image-upload-container">
					<div class="cropper-controls">
						<button class="btn btn-info cropper-zoom-in"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
						<button class="btn btn-info cropper-zoom-out"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></button>
					</div>
					<div class="helper-tool">
						<img id="avatar-helper-tool-img" src="">
					</div>
					<button id="change-image" class="btn btn-primary image-upload first-upload">Upload another image</button>
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-default" id="cancel-modal-avatar">Cancel</button>
				<button class="btn btn-success" id="save-avatar">
					<span>Save</span>
					{{> loader}}
				</button>
			</div>
		</div>
	</div>	
</template>